*~
#*#
*.swp
*pyc
MANIFEST
*.egg-info
.coverage
.sublime-*
build
dist
.DS_Store
src/ossos-pipeline/ossos_submit/payload.bsx
src/ossos-pipeline/ossos_submit/payload.tgz
src/ossos-pipeline/ossos_submit/payload/cadcproxy.pem
